# Auto detect text files and perform LF normalization
* text=auto
PythonPorjects/installs/Photomesh filter=lfs diff=lfs merge=lfs -text
PythonPorjects/installs/RealityMesh filter=lfs diff=lfs merge=lfs -text
PythonPorjects/installs/** filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
