[General]
close_on_launch = False
first_run_done = False
reality_mesh_local_root = 
default_browser = 
vbs4_path = 
blueig_path = 
bvi_manager_path = 
vbs4_setup_path = 
vbs_license_manager_path = 
vbs_map_user = 
vbs_map_server = localhost
vbs_map_port = 4080
fullscreen = True
photomesh_wizard_exe = 
app_version = 2.0
fast_startup = True
path_scan_budget_ms = 900
allow_c_drive_scan = False
force_single_use_mode = False

[Auto-Launch]
enabled = False
program_path = 
arguments = ""

[Fusers]
config_path = config/fuser_config.json
local_fuser_exe = C:\\Program Files\\Skyline\\PhotoMesh\\Fuser\\PhotoMeshFuser.exe
remote_fuser_exe = C:\\Program Files\\Skyline\\PhotoMesh\\Fuser\\PhotoMeshFuser.exe
fuser_computer = False
working_folder_host = [Offline.host_ip]
desired_count = 3
host_count = 1
shared_working_unc = \\[Offline.host_ip]\SharedMeshDrive\WorkingFuser
last_launched_count = 0
work_mode = shared
autostart_on_launch = True
enforce_shared_only = False
kill_on_exit = True

[BiSimOneClickPath]
path = 

[Offline]
enabled = False
host_name = 
host_ip = 
share_name = SharedMeshDrive
local_data_root = 
working_fuser_subdir = WorkingFuser
use_ip_unc = True
working_fuser_host = 

[Paths]
projects_root = 

[SharedDrive]
preferred_mode = UNC
drive_letter = M:
auto_map_on_save = True

[Network]
host = [Offline.host_ip]
